-technology.ID					atom
-technology.clock_frequency			3.0e9
-technology.feature_size			16e-9
-technology.component_type			core
-technology.core_type				inorder
-technology.wire_type				global
-technology.device_type				hp
-technology.interconnect_projection		aggressive
-technology.wiring_type				global
-technology.opt_local				false
-technology.embedded				false
-technology.longer_channel_device		true
-technology.end

-package.ID					TPKG
-package.technology				atom
-package.thermal_library			hotspot
-package.ambient_temperature			300
-package.interface_temperature			345
-package.spreader_temperature			345
-package.heatsink_temperature			345
-package.model					grid
-package.grid_rows				64
-package.grid_columns				64
-package.partition				core:fetch
-package.partition				core:decode
-package.partition				core:schedule
-package.partition				core:execute
-package.partition				core:memory
-package.partition				core:DL2
-package.end

-partition.ID					core:fetch
-partition.technology				atom
-partition.x_left				0.0
-partition.y_bottom				0.0
-partition.width				1e-3
-partition.length				1e-3
-partition.layer				0
-partition.temperature				345
-partition.reliability_library			ramp
-partition.baseline_Vdd				0.7
-partition.baseline_clk				1e9
-partition.baseline_MTTF				262800
-partition.module				core:fetch
-partition.module				core:program_counter
-partition.module				core:byteQ
-partition.module				core:BQ2PD
-partition.module				core:PD2IQ
-partition.module				core:instQ
-partition.module				core:IQ2ID
-partition.module				core:dirjmpBTB
-partition.module				core:indirjmpBTB
-partition.module				core:bpred1
-partition.module				core:bpred2
-partition.module				core:RAS
-partition.module				core:ITLB
-partition.module				core:IL1
-partition.module				core:IL1:missbuffer
-partition.module				core:IL1:prefetch
-partition.module				core:IL1:linefill
-partition.end

-partition.ID					core:decode
-partition.technology				atom
-partition.x_left				0.0
-partition.y_bottom				1e-3
-partition.width				1e-3
-partition.length				1e-3
-partition.layer				0
-partition.temperature				345
-partition.reliability_library			ramp
-partition.baseline_Vdd				0.7
-partition.baseline_clk				1e9
-partition.baseline_MTTF				262800
-partition.module				core:decode
-partition.module				core:instruction_decoder
-partition.module				core:uop_sequencer
-partition.module				core:operand_decoder
-partition.module				core:ID2uQ
-partition.module				core:uopQ
-partition.module				core:uQ2RR
-partition.end

-partition.ID					core:schedule
-partition.technology				atom
-partition.x_left				1e-3
-partition.y_bottom				0.0
-partition.width				1e-3
-partition.length				1e-3
-partition.layer				0
-partition.temperature				345
-partition.reliability_library			ramp
-partition.baseline_Vdd				0.7
-partition.baseline_clk				1e9
-partition.baseline_MTTF				262800
-partition.module				core:schedule
-partition.module				core:RAT
-partition.module				core:operand_dependency
-partition.module				core:freelist
-partition.module				core:GPREG
-partition.module				core:SEGREG
-partition.module				core:CREG
-partition.module				core:FLAGREG
-partition.module				core:FPREG
-partition.module				core:RR2RS
-partition.module				core:ARF2RS
-partition.end

-partition.ID					core:memory
-partition.technology				atom
-partition.x_left				1e-3
-partition.y_bottom				1e-3
-partition.width				1e-3
-partition.length				1e-3
-partition.layer				0
-partition.temperature				345
-partition.reliability_library			ramp
-partition.baseline_Vdd				0.7
-partition.baseline_clk				1e9
-partition.baseline_MTTF				262800
-partition.module				core:memory
-partition.module				core:DTLB
#partition.module				core:DTLB2
-partition.module				core:DL1
-partition.module				core:DL1:missbuffer
-partition.module				core:DL1:prefetch
-partition.module				core:DL1:linefill
-partition.module				core:DL1:writeback
-partition.end

-partition.ID					core:execute
-partition.technology				atom
-partition.x_left				2e-3
-partition.y_bottom				0.0
-partition.width				2e-3
-partition.length				2e-3
-partition.layer				0
-partition.temperature				345
-partition.reliability_library			ramp
-partition.baseline_Vdd				0.7
-partition.baseline_clk				1e9
-partition.baseline_MTTF				262800
-partition.module				core:execute
-partition.module				core:payload
-partition.module				core:port0:FU
-partition.module				core:port1:FU
-partition.module				core:port2:FU
-partition.module				core:exec_bypass
-partition.module				core:load_bypass
-partition.module				core:FU2ROB
-partition.end

-partition.ID					core:DL2
-partition.technology				atom
-partition.x_left				0e-3
-partition.y_bottom				2e-3
-partition.width				4e-3
-partition.length				4e-3
-partition.layer				0
-partition.temperature				345
-partition.reliability_library			ramp
-partition.baseline_Vdd				0.7
-partition.baseline_clk				1e9
-partition.baseline_MTTF				262800
-partition.module				core:DL2
-partition.module				core:DL2:missbuffer
-partition.module				core:DL2:prefetch
-partition.module				core:DL2:linefill
-partition.module				core:DL2:writeback
-partition.end

#undifferentiated core -- fetch partition
-module.ID					core:fetch
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				undifferentiated_core
-module.pipeline_stages				16
-module.scaling					0.1875 # 3/16
-module.end

#undifferentiated core -- decode partition
-module.ID					core:decode
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				undifferentiated_core
-module.pipeline_stages				16
-module.scaling					0.1875 # 3/16
-module.end

#undifferentiated core -- schedule partition
-module.ID					core:schedule
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				undifferentiated_core
-module.pipeline_stages				16
-module.scaling					0.1875 # 3/16
-module.end

#undifferentiated core -- memory partition
-module.ID					core:memory
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				undifferentiated_core
-module.pipeline_stages				16
-module.scaling					0.1875 # 3/16
-module.end

#undifferentiated core -- execute partition
-module.ID					core:execute
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				undifferentiated_core
-module.pipeline_stages				16
-module.scaling					0.25 # 4/16
-module.end

#program counter
-module.ID					core:program_counter
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			128 # current PC(64bit) + next PC(64bit)
-module.end

#fetch queue
-module.ID					core:byteQ
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				ram
-module.line_width				32
-module.sets					8
-module.rd_ports				1
-module.wr_ports				1
-module.access_mode				sequential
-module.end

#latch: fetch queue to predecoder
-module.ID					core:BQ2PD
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			320 # byteQ output + PC
-module.scaling					1
-module.end

#McPAT does not have separate predecoder model but includes it in instruction_decoder

#latch: predecoder to instruction queue
-module.ID					core:PD2IQ
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			184 # instruction length (15byte) + PC
-module.scaling					2 # decode width
-module.end

#instruction queue
-module.ID					core:instQ
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				ram
-module.line_width				15 # instruction length
-module.sets					10
-module.rd_ports				2 # decode width
-module.wr_ports				2 # predecode width
-module.access_mode				sequential
-module.end

#branch target buffer
-module.ID					core:dirjmpBTB
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				8 # 64-bit virtual address
-module.assoc					4 # 4-way associativity
-module.tag_width				69 # 64-bit virtual address + overhead
-module.sets					128
-module.rw_ports				1
-module.end

#indirect branch target buffer
-module.ID					core:indirjmpBTB
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				8 # 64-bit virtual address
-module.assoc					4 # 4-way associativity
-module.tag_width				69 # 64-bit virtual address + overhead
-module.sets					32
-module.rw_ports				1
-module.end

#tage base branch predictor
-module.ID					core:bpred1
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				1 # 2-bit saturation counter
-module.sets					2048
-module.rw_ports				1
-module.access_mode				fast
-module.end

#tage base prediction table
-module.ID					core:bpred2
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				2 # 14-bit prediction table line
-module.sets					512
-module.rw_ports				1
-module.access_mode				fast
-module.end

#return address stack
-module.ID					core:RAS
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				8 # 64-bit virtual address
-module.sets					16
-module.rw_ports				1
-module.access_mode				fast
-module.end

#instruction TLB
-module.ID					core:ITLB
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				8 # 64-bit virtual address
-module.assoc					4
-module.sets					128
-module.tag_width				69 # 64-bit virtual address + overhead
-module.rw_ports				1
-module.access_time				2
-module.cycle_time				2
-module.end

#instruction cache
-module.ID					core:IL1
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				32
-module.assoc					4
-module.sets					256
-module.tag_width				44 # 52-bit phy address + overhead - log2(line_width) - log2(sets)
-module.rw_ports				1
-module.access_time				2
-module.cycle_time				2
-module.end

#instruction cache missbuffer
-module.ID					core:IL1:missbuffer
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				41 # 52-bit phy address/8 + log2(IL1.size/IL2.line_width)/8 + IL1.line_width
-module.assoc					0
-module.sets					16
-module.tag_width				57 # 52-bit phy address + overhead
-module.rw_ports				1
-module.search_ports				1
-module.end

#instruction cache prefetch buffer
-module.ID					core:IL1:prefetch
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				32
-module.assoc					0
-module.sets					16
-module.tag_width				57 # 52-bit virtual address + overhead
-module.rw_ports				1
-module.search_ports				1
-module.end

#instruction cache linefill buffer
-module.ID					core:IL1:linefill
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				32
-module.assoc					0
-module.sets					16
-module.tag_width				57 # 52-bit virtual address + overhead
-module.rw_ports				1
-module.search_ports				1
-module.end

#latch: instruction queue to decoder
-module.ID					core:IQ2ID
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			184 # instruction length (15byte) + PC
-module.scaling					2 # decode width
-module.end

#instruction decoder
-module.ID					core:instruction_decoder
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				instruction_decoder
-module.x86					true
-module.opcode					16
-module.area_scaling				2 # decode width
-module.end

#micro-op sequencer
-module.ID					core:uop_sequencer
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				instruction_decoder
-module.x86					true
-module.opcode					16
-module.end

#operand decoder
-module.ID					core:operand_decoder
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				instruction_decoder
-module.x86					true
-module.opcode					8 # 16+16 architecture registers (= log(16)+log(16))
-module.area_scaling				2 # decode width
-module.end

#latch: instruction decoder to uopQ
-module.ID					core:ID2uQ
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			40 # opcode (16bit) + 3*registers tags(8 bit)
-module.scaling					2 # decode width
-module.end

#uop queue
-module.ID					core:uopQ
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				ram
-module.line_width				5 # micro-op
-module.sets					16
-module.rd_ports				1 # issue width
-module.wr_ports				2 # decode width
-module.access_mode				sequential
-module.end

#latch: uopQ to register renaming
-module.ID					core:uQ2RR
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			32 # opcode (16bit) + 2*registers tags(8 bit)
-module.scaling					1 # issue width
-module.end

#register renaming table
-module.ID					core:RAT
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				15 # log2(128 ROB entries)*(1 + 16 checkpoints)/8
-module.sets					32 # 16 architecture registers (int + fp)
-module.rw_ports				1
-module.rd_ports				4 # 2*decode width
-module.wr_ports				2 # decode width
-module.search_ports				1 # commit width
-module.access_mode				fast
-module.end

#dependency check logic
-module.ID					core:operand_dependency
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				dependency_check_logic
-module.compare_bits				7 # log2(ROB entires)
-module.decode_width				2 # decode width
-module.scaling					2 # integer / floating instructions
-module.end

#freelist
-module.ID					core:freelist
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				ram
-module.line_width				1 # ROB entries tag
-module.sets					128 # ROB entries
-module.rw_ports				1
-module.rd_ports				2 # decode width
-module.wr_ports				1 # commit width -1 + commit_width
-module.access_mode				sequential
-module.end

#general purpose
-module.ID					core:GPREG
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				ram
-module.line_width				8 # 64-bit data
-module.sets					16 # 16 GPRs
-module.rd_ports				2 # 2*issue width
-module.wr_ports				1 # commit width
-module.access_mode				sequential
-module.area_scaling				1.1 # McPAT overhead number
-module.end

#segment registers
-module.ID					core:SEGREG
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				ram
-module.line_width				8 # 64-bit data
-module.sets					8 # 8 SEGs
-module.rd_ports				1 # issue width
-module.wr_ports				1 # commit width
-module.access_mode				sequential
-module.area_scaling				1.1 # McPAT overhead number
-module.end

#control registers
-module.ID					core:CREG
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				ram
-module.line_width				8 # 64-bit data
-module.sets					4 # 4 CRs
-module.rd_ports				1 # issue width
-module.wr_ports				1 # commit width
-module.access_mode				sequential
-module.area_scaling				1.1 # McPAT overhead number
-module.end

#flags registers
-module.ID					core:FLAGREG
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				ram
-module.line_width				8 # 64-bit data
-module.sets					1 # 1 FLAG
-module.rd_ports				1 # issue width
-module.wr_ports				1 # commit width
-module.access_mode				sequential
-module.area_scaling				1.1 # McPAT overhead number
-module.end

#floating-point registers
-module.ID					core:FPREG
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				ram
-module.line_width				10 # 80-bit data
-module.sets					16 # 16 FPs
-module.rd_ports				2 # 2*issue width
-module.wr_ports				1 # commit width
-module.access_mode				sequential
-module.area_scaling				1.1 # McPAT overhead number
-module.end

#latch: register renaming to reservation station
-module.ID					core:RR2RS
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			40 # opcode (16bit) + 2*ROB tags(7 bit)
-module.scaling					1 # issue width
-module.end

#latch: architecture registers to reservation station
-module.ID					core:ARF2RS
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			64 # data width
-module.scaling					2 # 2*issue width
-module.end

#latch: payload RAM
-module.ID					core:payload
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			151 # opcode(16bit) + 2*data_width + output tag
-module.scaling					2 # exec width
-module.end

#execution port0 FU
-module.ID					core:port0:FU
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				functional_unit
-module.energy_submodel				alu
-module.area_scaling				3
-module.end

#execution port1 FU
-module.ID					core:port1:FU
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				functional_unit
-module.energy_submodel				fpu
-module.end

#execution port2 FU
-module.ID					core:port2:FU
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				functional_unit
-module.energy_submodel				alu
-module.area_scaling				3
-module.end

#latch: functional unit to ROB
-module.ID					core:FU2ROB
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			87 # floating-point data + output tag
-module.scaling					2 # exec width
-module.end

#data TLB
-module.ID					core:DTLB
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				8 # virtual address (64bit)
-module.assoc					4
-module.sets					128
-module.tag_width				69 # virtual address + overhead
-module.rw_ports				2
-module.search_ports				2
-module.access_time				2
-module.cycle_time				2
-module.end

#data TLB2
#module.ID					core:DTLB2
#module.technology				atom
#module.energy_library				McPAT
#module.energy_model				array
#module.energy_submodel				cache
#module.line_width				8 # virtual address (64bit)
#module.assoc					4
#module.sets					256
#module.tag_width				69 # line width + overhead
#module.rw_ports				1
#module.search_ports				1
#module.access_time				2
#module.cycle_time				2
#module.end

#data cache
-module.ID					core:DL1
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				32
-module.assoc					4
-module.sets					256
-module.tag_width				44 # 52-bit phy address + overhead - log2(line_width) - log2(sets)
-module.rw_ports				1
-module.access_time				2
-module.cycle_time				2
-module.end

#data cache missbuffer
-module.ID					core:DL1:missbuffer
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				41 # 52-bit phy address/8 + log2(DL1.size/DL1.line_width)/8 + DL1.line_width
-module.assoc					0
-module.sets					16
-module.tag_width				57 # 52-bit phy address + overhead
-module.rw_ports				1
-module.search_ports				1
-module.end

#data cache prefetch buffer
-module.ID					core:DL1:prefetch
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				32
-module.assoc					0
-module.sets					16
-module.tag_width				57 # 52-bit phy address + overhead
-module.rw_ports				1
-module.search_ports				1
-module.end

#data cache linefill buffer
-module.ID					core:DL1:linefill
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				32
-module.assoc					0
-module.sets					16
-module.tag_width				57 # 52-bit phy address + overhead
-module.rw_ports				1
-module.search_ports				1
-module.end

#data cache writeback buffer
-module.ID					core:DL1:writeback
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				32
-module.assoc					0
-module.sets					16
-module.tag_width				57 # 52-bit phy address + overhead
-module.rw_ports				1
-module.search_ports				1
-module.end

#data cache
-module.ID					core:DL2
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				32
-module.assoc					8
-module.sets					2048
-module.tag_width				40 # 52-bit phy address - log2(line_width) - log2(sets) + overhead
-module.banks					4
-module.rw_ports				1
-module.access_time				8
-module.cycle_time				3
-module.end

#data cache missbuffer
-module.ID					core:DL2:missbuffer
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				32
-module.assoc					0
-module.sets					16
-module.tag_width				57 # 52-bit phy address + overhead
-module.rw_ports				1
-module.search_ports				1
-module.end

#data cache prefetch buffer
-module.ID					core:DL2:prefetch
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				32
-module.assoc					0
-module.sets					16
-module.tag_width				57 # 52-bit phy address + overhead
-module.rw_ports				1
-module.search_ports				1
-module.end

#data cache linefill buffer
-module.ID					core:DL2:linefill
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				32
-module.assoc					0
-module.sets					16
-module.tag_width				57 # 52-bit phy address + overhead
-module.rw_ports				1
-module.search_ports				1
-module.end

#data cache writeback buffer
-module.ID					core:DL2:writeback
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				32
-module.assoc					0
-module.sets					16
-module.tag_width				57 # 52-bit phy address + overhead
-module.rw_ports				1
-module.search_ports				1
-module.end

#bypass interconnect
-module.ID					core:exec_bypass
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				interconnect
-module.data					72 # data(64bit) + tag(8bit)
-module.connect					core:payload
-module.connect					core:port0:FU
-module.connect					core:port1:FU
-module.scaling					1 # exec width
-module.end

#bypass interconnect
-module.ID					core:load_bypass
-module.technology				atom
-module.energy_library				McPAT
-module.energy_model				interconnect
-module.data					72 # data(64bit) + tag(8bit)
-module.connect					core:payload
-module.connect					core:port0:FU
-module.connect					core:port1:FU
-module.end
