-technology.ID					P6
-technology.clock_frequency			3e9
-technology.feature_size			16e-9
-technology.component_type			core
-technology.core_type				ooo
-technology.wire_type				global
-technology.device_type				hp
-technology.interconnect_projection		aggressive
-technology.wiring_type				global
-technology.opt_local				false
-technology.embeded				false
-technology.longer_channel_device		false
-technology.end

-package.ID					TPKG
-package.technology				P6
-package.thermal_library			HotSpot
-package.ambient_temperature			315
-package.interface_temperature			315
-package.spreader_temperature			315
-package.heatsink_temperature			315
-package.model					grid
-package.grid_rows				32
-package.grid_columns				32
-package.partition				core0:fetch
-package.partition				core0:decode
-package.partition				core0:schedule
-package.partition				core0:execute
-package.partition				core0:memory
-package.end

-partition.ID					core0:fetch
-partition.x_left				0.0
-partition.y_bottom				0.0
-partition.width				1e-3
-partition.length				1e-3
-partition.layer				0
-partition.temperature				315
-partition.module				core0:fetch
-partition.module				core0:program_counter
-partition.module				core0:byteQ
-partition.module				core0:BQ2PD
-partition.module				core0:PD2IQ
-partition.module				core0:instQ
-partition.module				core0:IQ2ID
-partition.module				core0:dirjmpBTB
-partition.module				core0:indirjmpBTB
-partition.module				core0:bpred1
-partition.module				core0:bpred2
-partition.module				core0:RAS
-partition.module				core0:ITLB
-partition.module				core0:I$
-partition.module				core0:I$:missbuffer
-partition.module				core0:I$:prefetch
-partition.module				core0:I$:linefill
-partition.end

-partition.ID					core0:decode
-partition.x_left				0.0
-partition.y_bottom				1e-3
-partition.width				1e-3
-partition.length				1e-3
-partition.layer				0
-partition.temperature				315
-partition.module				core0:decode
-partition.module				core0:instruction_decoder
-partition.module				core0:uop_sequencer
-partition.module				core0:operand_decoder
-partition.module				core0:ID2uQ
-partition.module				core0:uopQ
-partition.module				core0:uQ2RR
-partition.end

-partition.ID					core0:schedule
-partition.x_left				1e-3
-partition.y_bottom				0.0
-partition.width				1e-3
-partition.length				1e-3
-partition.layer				0
-partition.temperature				315
-partition.module				core0:schedule
-partition.module				core0:RAT
-partition.module				core0:operand_dependency
-partition.module				core0:freelist
-partition.module				core0:GPREG
-partition.module				core0:SEGREG
-partition.module				core0:CREG
-partition.module				core0:FLAGREG
-partition.module				core0:FPREG
-partition.module				core0:RR2RS
-partition.module				core0:ARF2RS
-partition.module				core0:ROB2RS
-partition.module				core0:RS
-partition.module				core0:RS2PR
-partition.module				core0:issue_select
-partition.module				core0:ROB
-partition.module				core0:commit_select
-partition.module				core0:ROB2CM
-partition.end

-partition.ID					core0:memory
-partition.x_left				1e-3
-partition.y_bottom				1e-3
-partition.width				1e-3
-partition.length				1e-3
-partition.layer				0
-partition.temperature				315
-partition.module				core0:memory
-partition.module				core0:loadQ
-partition.module				core0:LQ2ROB
-partition.module				core0:LQ2L1
-partition.module				core0:L12LQ
-partition.module				core0:storeQ
-partition.module				core0:SQ2L1
-partition.module				core0:SQ2LQ
-partition.module				core0:DTLB
-partition.module				core0:DTLB2
-partition.module				core0:D$
-partition.module				core0:D$:missbuffer
-partition.module				core0:D$:prefetch
-partition.module				core0:D$:linefill
-partition.module				core0:D$:writeback
-partition.end

-partition.ID					core0:execute
-partition.x_left				2e-3
-partition.y_bottom				0.0
-partition.width				2e-3
-partition.length				2e-3
-partition.layer				0
-partition.temperature				315
-partition.module				core0:execute
-partition.module				core0:payload
-partition.module				core0:PR2FU
-partition.module				core0:port0:FU
-partition.module				core0:port1:FU
-partition.module				core0:port2:FU
-partition.module				core0:port3:FU
-partition.module				core0:port4:FU
-partition.module				core0:exec_bypass
-partition.module				core0:load_bypass
-partition.module				core0:FU2ROB
-partition.end

#undifferentiated core -- fetch partition
-module.ID					core0:fetch
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				undifferentiated_core
-module.pipeline_stages				3
-module.end

#undifferentiated core -- decode partition
-module.ID					core0:decode
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				undifferentiated_core
-module.pipeline_stages				2
-module.end

#undifferentiated core -- schedule partition
-module.ID					core0:schedule
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				undifferentiated_core
-module.pipeline_stages				3
-module.end

#undifferentiated core -- memory partition
-module.ID					core0:memory
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				undifferentiated_core
-module.pipeline_stages				2
-module.end

#undifferentiated core -- execute partition
-module.ID					core0:execute
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				undifferentiated_core
-module.pipeline_stages				2
-module.end

#program counter
-module.ID					core0:program_counter
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			64 # current PC(32bit) + next PC(32bit)
-module.end

#fetch queue
-module.ID					core0:byteQ
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				ram
-module.line_width				16
-module.sets					4
-module.rd_ports				3
-module.wr_ports				1
-module.access_mode				sequential
-module.end

#latch: fetch queue to predecoder
-module.ID					core0:BQ2PD
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			160 # byteQ output + PC
-module.scaling					3 # decode width
-module.end

#McPAT does not have separate predecoder model but includes it in instruction_decoder

#latch: predecoder to instruction queue
-module.ID					core0:PD2IQ
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			152 # instruction length (15byte) + PC
-module.end

#instruction queue
-module.ID					core0:instQ
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				ram
-module.line_width				15
-module.sets					4
-module.rd_ports				3
-module.wr_ports				3
-module.access_mode				sequential
-module.end

#branch target buffer
-module.ID					core0:dirjmpBTB
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				4 # 32-bit virtual address
-module.assoc					4 # 4-way associativity
-module.tag_width				37 # 32-bit virtual address + overhead
-module.sets					512
-module.rw_ports				1
-module.end

#indirect branch target buffer
-module.ID					core0:indirjmpBTB
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				4 # 32-bit virtual address
-module.assoc					4 # 4-way associativity
-module.tag_width				37 # 32-bit virtual address + overhead
-module.sets					128
-module.rw_ports				1
-module.end

#tage base branch predictor
-module.ID					core0:bpred1
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				1 # 2-bit saturation counter
-module.sets					2048
-module.rw_ports				1
-module.access_mode				fast
-module.end

#tage base prediction table
-module.ID					core0:bpred2
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				2 # 14-bit prediction table line
-module.sets					512
-module.rw_ports				1
-module.access_mode				fast
-module.end

#return address stack
-module.ID					core0:RAS
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				4 # 32-bit virtual address
-module.sets					16
-module.rw_ports				1
-module.access_mode				fast
-module.end

#instruction TLB
-module.ID					core0:ITLB
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				4 # 32-bit virtual address
-module.assoc					4
-module.sets					128
-module.tag_width				37 # 32-bit virtual address + overhead
-module.rw_ports				1
-module.access_time				2
-module.cycle_time				2
-module.end

#instruction cache
-module.ID					core0:I$
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				32
-module.assoc					4
-module.sets					128
-module.tag_width				37 # 32-bit virtual address + overhead
-module.rw_ports				1
-module.access_time				2
-module.cycle_time				2
-module.end

#instruction cache missbuffer
-module.ID					core0:I$:missbuffer
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				32
-module.assoc					0
-module.sets					8
-module.tag_width				37 # 32-bit virtual address + overhead
-module.rw_ports				1
-module.search_ports				1
-module.end

#instruction cache prefetch buffer
-module.ID					core0:I$:prefetch
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				32
-module.assoc					0
-module.sets					8
-module.tag_width				37 # 32-bit virtual address + overhead
-module.rw_ports				1
-module.search_ports				1
-module.end

#instruction cache linefill buffer
-module.ID					core0:I$:linefill
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				32
-module.assoc					0
-module.sets					8
-module.tag_width				37 # 32-bit virtual address + overhead
-module.rw_ports				1
-module.search_ports				1
-module.end

#latch: instruction queue to decoder
-module.ID					core0:IQ2ID
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			152 # instruction length (15byte) + PC
-module.scaling					3 # 3 decode width
-module.end

#instruction decoder
-module.ID					core0:instruction_decoder
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				instruction_decoder
-module.x86					true
-module.opcode					16
-module.scaling					3 # decode width
-module.end

#micro-op sequencer
-module.ID					core0:uop_sequencer
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				instruction_decoder
-module.x86					true
-module.opcode					16
-module.scaling					1
-module.end

#operand decoder
-module.ID					core0:operand_decoder
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				instruction_decoder
-module.x86					true
-module.opcode					6 # 8+8 architecture registers Jieun
-module.scaling					3 # decode width
-module.end

#latch: instruction decoder to uopQ
-module.ID					core0:ID2uQ
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			136 # micro-op (118bit) + 3*registers tags(6 bit)
-module.scaling					3 # decode width
-module.end

#uop queue
-module.ID					core0:uopQ
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				ram
-module.line_width				15 # micro-op (118bit)
-module.sets					6
-module.rd_ports				3 # issue width
-module.wr_ports				3 # decode width
-module.access_mode				sequential
-module.end

#latch: uopQ to register renaming
-module.ID					core0:uQ2RR
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			136 # micro-op (118bit) + 3*registers tags(6 bit)
-module.scaling					3 # issue width
-module.end

#register renaming table
-module.ID					core0:RAT
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				1 # 40 ROB entries tag
-module.assoc					0 # fully associative
-module.sets					16 # 8 + 8 architecture registers
-module.rd_ports				3 # decode width
-module.wr_ports				3 # decode width
-module.search_ports				3 # commit width
-module.access_mode				fast
-module.scaling					9 # 1 + 8 checkpoints
-module.end

#dependency check logic
-module.ID					core0:operand_dependency
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				dependency_check_logic
-module.compare_bits				6 # 40 ROB entires
-module.decode_width				3 # core decode width
-module.scaling					2 # integer / floating instructions
-module.end

#freelist
-module.ID					core0:freelist
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				ram
-module.line_width				1 # 40 ROB entries tag
-module.sets					40 # ROB entries
-module.rd_ports				3 # decode width
-module.wr_ports				3 # commit width
-module.access_mode				sequential
-module.end

#general purpose
-module.ID					core0:GPREG
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				ram
-module.line_width				4 # 32-bit data
-module.sets					8 # 8 GPRs
-module.rd_ports				3 # issue width
-module.wr_ports				3 # commit width
-module.access_mode				sequential
-module.area_scaling				1.1 # McPAT overhead number
-module.energy_scaling				1.1 # McPAT overhead number
-module.end

#segment registers
-module.ID					core0:SEGREG
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				ram
-module.line_width				4 # 32-bit data
-module.sets					6 # 6 SEGs
-module.rd_ports				3 # issue width
-module.wr_ports				3 # commit width
-module.access_mode				sequential
-module.area_scaling				1.1 # McPAT overhead number
-module.energy_scaling				1.1 # McPAT overhead number
-module.end

#control registers
-module.ID					core0:CREG
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				ram
-module.line_width				4 # 32-bit data
-module.sets					8 # 8 CRs
-module.rd_ports				3 # issue width
-module.wr_ports				3 # commit width
-module.access_mode				sequential
-module.area_scaling				1.1 # McPAT overhead number
-module.energy_scaling				1.1 # McPAT overhead number
-module.end

#flags registers
-module.ID					core0:FLAGREG
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				ram
-module.line_width				4 # 32-bit data
-module.sets					1 # 1 FLAG
-module.rd_ports				3 # issue width
-module.wr_ports				3 # commit width
-module.access_mode				sequential
-module.area_scaling				1.1 # McPAT overhead number
-module.energy_scaling				1.1 # McPAT overhead number
-module.end

#floating-point registers
-module.ID					core0:FPREG
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				ram
-module.line_width				10 # 80-bit data
-module.sets					8 # 8 FPs
-module.rd_ports				3 # issue width
-module.wr_ports				3 # commit width
-module.access_mode				sequential
-module.area_scaling				1.1 # McPAT overhead number
-module.energy_scaling				1.1 # McPAT overhead number
-module.end

#latch: register renaming to reservation station
-module.ID					core0:RR2RS
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			136 # micro-op (118bit) + 3*registers tags(6 bit)
-module.scaling					3 # issue width
-module.end

#latch: architecture registers to reservation station
-module.ID					core0:ARF2RS
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			80 # floating-point data width
-module.scaling					6 # 2*issue width
-module.end

#latch: physical registers to reservation station
-module.ID					core0:ROB2RS
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			80 # floating-point data width
-module.scaling					6 # 2*issue width
-module.end

#reservation station
-module.ID					core0:RS
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				27 # micro-op (118bit) + 2*operand tag + 2*floating-point data
-module.tag_width				11 # ROB tag (6-bit) + overhead
-module.sets					20
-module.rd_ports				5 # exec width
-module.wr_ports				3 # issue width
-module.end

#instruction issue selection logic
-module.ID					core0:issue_select
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				selection_logic
-module.selection_input				20 # RS entries
-module.selection_output			5 # exec width
-module.end

#latch: reservation station to payload RAM
-module.ID					core0:RS2PR
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			204 # micro-op(118bit) + 2*floating-point data + output tag
-module.scaling					5 # exec width
-module.end

#payload RAM
-module.ID					core0:payload
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				ram
-module.line_width				26 # micro-op (118bit) + 2*floating-point data + output tag
-module.sets					5 # exec_width
-module.rd_ports				5 # exec width
-module.wr_ports				5 # exec_width
-module.access_mode				sequential
-module.end

#latch: payload RAM output latch (to FU or snatch back)
-module.ID					core0:PR2FU
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			204 # micro-op(118bit) + 2*floating-point data + output tag
-module.scaling					5 # exec width
-module.end

#execution port0 FU
-module.ID					core0:port0:FU
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				functional_unit
-module.energy_submodel				fpu
-module.end

#execution port1 FU
-module.ID					core0:port1:FU
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				functional_unit
-module.energy_submodel				alu
-module.end

#execution port2 FU
-module.ID					core0:port2:FU
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				functional_unit
-module.energy_submodel				alu
-module.end

#execution port3 FU
-module.ID					core0:port3:FU
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				functional_unit
-module.energy_submodel				alu
-module.end

#execution port4 FU
-module.ID					core0:port4:FU
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				functional_unit
-module.energy_submodel				alu
-module.end

#latch: functional unit to ROB
-module.ID					core0:FU2ROB
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			86 # floating-point data + output tag
-module.scaling					5 # exec width
-module.end

#reorder buffer
-module.ID					core0:ROB
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				ram
-module.line_width				117 # virtual address(32bit) + floating-point data(80bit) + tag overhead
-module.sets					40
-module.rd_ports				9 # 2*issue width + commit width
-module.wr_ports				5 # exec width
-module.search_ports				2 # dual port
-module.access_mode				sequential
-module.end

#instruction commit selection logic
-module.ID					core0:commit_select
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				selection_logic
-module.selection_input				40 # ROB entries
-module.selection_output			3 # commit width
-module.end

#latch: ROB to commit
-module.ID					core0:ROB2CM
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			86 # floating-point data + output tag
-module.scaling					3 # commit width
-module.end

#load queue
-module.ID					core0:loadQ
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				4 # 32-bit data
-module.assoc					0 # fully associative
-module.tag_width				37 # virtual address width (32bit) + overhead
-module.sets					16
-module.rd_ports				2
-module.wr_ports				2
-module.search_ports				2
-module.access_mode				sequential
-module.area_scaling				1.1
-module.energy_scaling				1.1
-module.end

#latch: load queue to ROB
-module.ID					core0:LQ2ROB
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			70 # data(32bit) + virtual address(32-bit) + data tag(6bit)
-module.end

#latch: load queue to D$
-module.ID					core0:LQ2L1
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			64 # data(32bit) + virtual address(32-bit)
-module.end

#latch: D$ to load queue
-module.ID					core0:L12LQ
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			64 # data(32bit) + virtual address(32-bit)
-module.end

#store queue
-module.ID					core0:storeQ
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				4 # 32-bit data
-module.assoc					0 # fully associative
-module.tag_width				37 # virtual address width (32bit) + overhead
-module.sets					12
-module.rd_ports				1
-module.wr_ports				1
-module.search_ports				1
-module.access_mode				sequential
-module.area_scaling				1.1
-module.energy_scaling				1.1
-module.end

#latch: store queue to D$
-module.ID					core0:SQ2L1
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			64 # data(32bit) + virtual address(32-bit)
-module.end

#latch: store queue to load queue
-module.ID					core0:SQ2LQ
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			64 # data(32bit) + virtual address(32-bit)
-module.end

#data TLB
-module.ID					core0:DTLB
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				23 # virtual address (32bit) - page size(9bit or 4096byte)
-module.assoc					4
-module.sets					64
-module.tag_width				28 # line width + overhead
-module.rw_ports				2
-module.access_time				2
-module.cycle_time				2
-module.end

#data TLB2
-module.ID					core0:DTLB2
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				23 # virtual address (32bit) - page size(9bit or 4096byte)
-module.assoc					4
-module.sets					256
-module.tag_width				28 # line width + overhead
-module.rw_ports				1
-module.access_time				2
-module.cycle_time				2
-module.end

#data cache
-module.ID					core0:D$
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				32
-module.assoc					4
-module.sets					128
-module.tag_width				37 # 32-bit virtual address + overhead
-module.rw_ports				2
-module.access_time				2
-module.cycle_time				2
-module.end

#data cache missbuffer
-module.ID					core0:D$:missbuffer
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				32
-module.assoc					0
-module.sets					8
-module.tag_width				37 # 32-bit virtual address + overhead
-module.rw_ports				1
-module.search_ports				1
-module.end

#data cache prefetch buffer
-module.ID					core0:D$:prefetch
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				32
-module.assoc					0
-module.sets					8
-module.tag_width				37 # 32-bit virtual address + overhead
-module.rw_ports				1
-module.search_ports				1
-module.end

#data cache linefill buffer
-module.ID					core0:D$:linefill
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				32
-module.assoc					0
-module.sets					8
-module.tag_width				37 # 32-bit virtual address + overhead
-module.rw_ports				1
-module.search_ports				1
-module.end

#data cache writeback buffer
-module.ID					core0:D$:writeback
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				32
-module.assoc					0
-module.sets					8
-module.tag_width				37 # 32-bit virtual address + overhead
-module.rw_ports				1
-module.search_ports				1
-module.end

#bypass interconnect
-module.ID					core0:exec_bypass
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				interconnect
-module.data					86 # data(80bit) + tag(6bit)
-module.connect					core0:RS
-module.connect					core0:RS2PR
-module.connect					core0:payload
-module.connect					core0:PR2FU
-module.connect					core0:loadQ
-module.connect					core0:storeQ
-module.connect					core0:ROB
-module.connect					core0:port0:FU
-module.connect					core0:port1:FU
-module.connect					core0:port2:FU
-module.connect					core0:port3:FU
-module.connect					core0:port4:FU
-module.scaling					5
-module.end

#bypass interconnect
-module.ID					core0:load_bypass
-module.technology				P6
-module.energy_library				McPAT
-module.energy_model				interconnect
-module.data					36 # data(32bit) + tag(6bit)
-module.connect					core0:RS
-module.connect					core0:loadQ
-module.connect					core0:storeQ
-module.connect					core0:port0:FU
-module.connect					core0:port1:FU
-module.connect					core0:port2:FU
-module.connect					core0:port3:FU
-module.connect					core0:port4:FU
-module.connect					core0:ROB
-module.scaling					5
-module.end
