-technology.ID					nehalem
-technology.clock_frequency			4.0e9
-technology.feature_size			16e-9
-technology.component_type			core
-technology.core_type				ooo
-technology.wire_type				global
-technology.device_type				hp
-technology.interconnect_projection		aggressive
-technology.wiring_type				global
-technology.opt_local				false
-technology.embeded				false
-technology.longer_channel_device		false
-technology.end

-package.ID					TPKG
-package.technology				nehalem
-package.thermal_library			none
-package.ambient_temperature			315
-package.interface_temperature			315
-package.spreader_temperature			315
-package.heatsink_temperature			315
-package.model					grid
-package.grid_rows				32
-package.grid_columns				32
-package.partition				core:fetch
-package.partition				core:decode
-package.partition				core:schedule
-package.partition				core:execute
-package.partition				core:memory
-package.partition				core:DL2
-package.end

-partition.ID					core:fetch
-partition.x_left				0.0
-partition.y_bottom				0.0
-partition.width				1e-3
-partition.length				1e-3
-partition.layer				0
-partition.temperature				315
-partition.module				core:fetch
-partition.module				core:program_counter
-partition.module				core:byteQ
-partition.module				core:BQ2PD
-partition.module				core:PD2IQ
-partition.module				core:instQ
-partition.module				core:IQ2ID
-partition.module				core:dirjmpBTB
-partition.module				core:indirjmpBTB
-partition.module				core:bpred1
-partition.module				core:bpred2
-partition.module				core:RAS
-partition.module				core:ITLB
-partition.module				core:IL1
-partition.module				core:IL1:missbuffer
-partition.module				core:IL1:prefetch
-partition.module				core:IL1:linefill
-partition.end

-partition.ID					core:decode
-partition.x_left				0.0
-partition.y_bottom				1e-3
-partition.width				1e-3
-partition.length				1e-3
-partition.layer				0
-partition.temperature				315
-partition.module				core:decode
-partition.module				core:instruction_decoder
-partition.module				core:uop_sequencer
-partition.module				core:operand_decoder
-partition.module				core:ID2uQ
-partition.module				core:uopQ
-partition.module				core:uQ2RR
-partition.end

-partition.ID					core:schedule
-partition.x_left				1e-3
-partition.y_bottom				0.0
-partition.width				1e-3
-partition.length				1e-3
-partition.layer				0
-partition.temperature				315
-partition.module				core:schedule
-partition.module				core:RAT
-partition.module				core:operand_dependency
-partition.module				core:freelist
-partition.module				core:GPREG
-partition.module				core:SEGREG
-partition.module				core:CREG
-partition.module				core:FLAGREG
-partition.module				core:FPREG
-partition.module				core:RR2RS
-partition.module				core:ARF2RS
-partition.module				core:ROB2RS
-partition.module				core:RS
-partition.module				core:issue_select
-partition.module				core:ROB
-partition.module				core:commit_select
-partition.module				core:ROB2CM
-partition.end

-partition.ID					core:memory
-partition.x_left				1e-3
-partition.y_bottom				1e-3
-partition.width				1e-3
-partition.length				1e-3
-partition.layer				0
-partition.temperature				315
-partition.module				core:memory
-partition.module				core:loadQ
-partition.module				core:LQ2ROB
-partition.module				core:LQ2L1
-partition.module				core:L12LQ
-partition.module				core:storeQ
-partition.module				core:SQ2L1
-partition.module				core:SQ2LQ
-partition.module				core:DTLB
-partition.module				core:DTLB2
-partition.module				core:DL1
-partition.module				core:DL1:missbuffer
-partition.module				core:DL1:prefetch
-partition.module				core:DL1:linefill
-partition.module				core:DL1:writeback
-partition.end

-partition.ID					core:execute
-partition.x_left				2e-3
-partition.y_bottom				0.0
-partition.width				2e-3
-partition.length				2e-3
-partition.layer				0
-partition.temperature				315
-partition.module				core:execute
-partition.module				core:payload
-partition.module				core:port0:FU
-partition.module				core:port1:FU
-partition.module				core:port2:FU
-partition.module				core:port3:FU
-partition.module				core:port4:FU
-partition.module				core:port5:FU
-partition.module				core:exec_bypass
-partition.module				core:load_bypass
-partition.module				core:FU2ROB
-partition.end

-partition.ID					core:DL2
-partition.x_left				1e-3
-partition.y_bottom				1e-3
-partition.width				1e-3
-partition.length				1e-3
-partition.layer				0
-partition.temperature				315
-partition.module				core:DL2
-partition.module				core:DL2:missbuffer
-partition.module				core:DL2:prefetch
-partition.module				core:DL2:linefill
-partition.module				core:DL2:writeback
-partition.end

#undifferentiated core -- fetch partition
-module.ID					core:fetch
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				undifferentiated_core
-module.pipeline_stages				2
-module.end

#undifferentiated core -- decode partition
-module.ID					core:decode
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				undifferentiated_core
-module.pipeline_stages				2
-module.end

#undifferentiated core -- schedule partition
-module.ID					core:schedule
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				undifferentiated_core
-module.pipeline_stages				3
-module.end

#undifferentiated core -- memory partition
-module.ID					core:memory
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				undifferentiated_core
-module.pipeline_stages				2
-module.end

#undifferentiated core -- execute partition
-module.ID					core:execute
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				undifferentiated_core
-module.pipeline_stages				3
-module.end

#program counter
-module.ID					core:program_counter
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			64 # current PC(32bit) + next PC(32bit)
-module.end

#fetch queue
-module.ID					core:byteQ
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				ram
-module.line_width				16
-module.sets					4
-module.rd_ports				1
-module.wr_ports				1
-module.access_mode				sequential
-module.end

#latch: fetch queue to predecoder
-module.ID					core:BQ2PD
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			160 # byteQ output + PC
-module.scaling					1
-module.end

#McPAT does not have separate predecoder model but includes it in instruction_decoder

#latch: predecoder to instruction queue
-module.ID					core:PD2IQ
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			152 # instruction length (15byte) + PC
-module.scaling					6 # decode width
-module.end

#instruction queue
-module.ID					core:instQ
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				ram
-module.line_width				15 # instruction length
-module.sets					18
-module.rd_ports				4 # decode width
-module.wr_ports				6 # predecode width
-module.access_mode				sequential
-module.end

#branch target buffer
-module.ID					core:dirjmpBTB
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				4 # 32-bit virtual address
-module.assoc					4 # 4-way associativity
-module.tag_width				37 # 32-bit virtual address + overhead
-module.sets					512
-module.rw_ports				1
-module.end

#indirect branch target buffer
-module.ID					core:indirjmpBTB
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				4 # 32-bit virtual address
-module.assoc					4 # 4-way associativity
-module.tag_width				37 # 32-bit virtual address + overhead
-module.sets					128
-module.rw_ports				1
-module.end

#tage base branch predictor
-module.ID					core:bpred1
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				1 # 2-bit saturation counter
-module.sets					2048
-module.rw_ports				1
-module.access_mode				fast
-module.end

#tage base prediction table
-module.ID					core:bpred2
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				2 # 14-bit prediction table line
-module.sets					512
-module.rw_ports				1
-module.access_mode				fast
-module.end

#return address stack
-module.ID					core:RAS
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				4 # 32-bit virtual address
-module.sets					64
-module.rw_ports				1
-module.access_mode				fast
-module.end

#instruction TLB
-module.ID					core:ITLB
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				4 # 32-bit virtual address
-module.assoc					4
-module.sets					128
-module.tag_width				37 # 32-bit virtual address + overhead
-module.rw_ports				1
-module.access_time				2
-module.cycle_time				2
-module.end

#instruction cache
-module.ID					core:IL1
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				64
-module.assoc					4
-module.sets					128
-module.tag_width				37 # 32-bit virtual address + overhead
-module.rw_ports				1
-module.access_time				2
-module.cycle_time				2
-module.end

#instruction cache missbuffer
-module.ID					core:IL1:missbuffer
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				64
-module.assoc					0
-module.sets					8
-module.tag_width				37 # 32-bit virtual address + overhead
-module.rw_ports				1
-module.search_ports				1
-module.end

#instruction cache prefetch buffer
-module.ID					core:IL1:prefetch
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				64
-module.assoc					0
-module.sets					8
-module.tag_width				37 # 32-bit virtual address + overhead
-module.rw_ports				1
-module.search_ports				1
-module.end

#instruction cache linefill buffer
-module.ID					core:IL1:linefill
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				64
-module.assoc					0
-module.sets					8
-module.tag_width				37 # 32-bit virtual address + overhead
-module.rw_ports				1
-module.search_ports				1
-module.end

#latch: instruction queue to decoder
-module.ID					core:IQ2ID
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			152 # instruction length (15byte) + PC
-module.scaling					4 # decode width
-module.end

#instruction decoder
-module.ID					core:instruction_decoder
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				instruction_decoder
-module.x86					true
-module.opcode					16
-module.scaling					4 # decode width
-module.end

#micro-op sequencer
-module.ID					core:uop_sequencer
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				instruction_decoder
-module.x86					true
-module.opcode					16
-module.scaling					1
-module.end

#operand decoder
-module.ID					core:operand_decoder
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				instruction_decoder
-module.x86					true
-module.opcode					6 # 8+8 architecture registers (= log(8)+log(8))
-module.scaling					4 # decode width
-module.end

#latch: instruction decoder to uopQ
-module.ID					core:ID2uQ
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			136 # micro-op (118bit) + 3*registers tags(6 bit)
-module.scaling					4 # decode width
-module.end

#uop queue
-module.ID					core:uopQ
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				ram
-module.line_width				15 # micro-op (118bit)
-module.sets					28
-module.rd_ports				6 # issue width
-module.wr_ports				4 # decode width
-module.access_mode				sequential
-module.end

#latch: uopQ to register renaming
-module.ID					core:uQ2RR
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			136 # micro-op (118bit) + 3*registers tags(6 bit)
-module.scaling					6 # issue width
-module.end

#register renaming table
-module.ID					core:RAT
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				1 # 40 ROB entries tag
-module.assoc					0 # fully associative
-module.sets					16 # 8 + 8 architecture registers
-module.rd_ports				4 # decode width
-module.wr_ports				4 # decode width
-module.search_ports				4 # commit width
-module.access_mode				fast
-module.scaling					9 # 1 + 8 checkpoints
-module.end

#dependency check logic
-module.ID					core:operand_dependency
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				dependency_check_logic
-module.compare_bits				7 # log2(ROB entires)
-module.decode_width				4 # decode width
-module.scaling					2 # integer / floating instructions
-module.end

#freelist
-module.ID					core:freelist
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				ram
-module.line_width				1 # ROB entries tag
-module.sets					128 # ROB entries
-module.rd_ports				4 # decode width
-module.wr_ports				4 # commit width
-module.access_mode				sequential
-module.end

#general purpose
-module.ID					core:GPREG
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				ram
-module.line_width				4 # 32-bit data
-module.sets					8 # 8 GPRs
-module.rd_ports				6 # issue width
-module.wr_ports				4 # commit width
-module.access_mode				sequential
-module.area_scaling				1.1 # McPAT overhead number
-module.energy_scaling				1.1 # McPAT overhead number
-module.end

#segment registers
-module.ID					core:SEGREG
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				ram
-module.line_width				4 # 32-bit data
-module.sets					6 # 6 SEGs
-module.rd_ports				6 # issue width
-module.wr_ports				4 # commit width
-module.access_mode				sequential
-module.area_scaling				1.1 # McPAT overhead number
-module.energy_scaling				1.1 # McPAT overhead number
-module.end

#control registers
-module.ID					core:CREG
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				ram
-module.line_width				4 # 32-bit data
-module.sets					8 # 8 CRs
-module.rd_ports				6 # issue width
-module.wr_ports				4 # commit width
-module.access_mode				sequential
-module.area_scaling				1.1 # McPAT overhead number
-module.energy_scaling				1.1 # McPAT overhead number
-module.end

#flags registers
-module.ID					core:FLAGREG
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				ram
-module.line_width				4 # 32-bit data
-module.sets					1 # 1 FLAG
-module.rd_ports				6 # issue width
-module.wr_ports				4 # commit width
-module.access_mode				sequential
-module.area_scaling				1.1 # McPAT overhead number
-module.energy_scaling				1.1 # McPAT overhead number
-module.end

#floating-point registers
-module.ID					core:FPREG
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				ram
-module.line_width				10 # 80-bit data
-module.sets					8 # 8 FPs
-module.rd_ports				6 # issue width
-module.wr_ports				4 # commit width
-module.access_mode				sequential
-module.area_scaling				1.1 # McPAT overhead number
-module.energy_scaling				1.1 # McPAT overhead number
-module.end

#latch: register renaming to reservation station
-module.ID					core:RR2RS
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			136 # micro-op (118bit) + 3*registers tags(6 bit)
-module.scaling					6 # issue width
-module.end

#latch: architecture registers to reservation station
-module.ID					core:ARF2RS
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			80 # floating-point data width
-module.scaling					12 # 2*issue width
-module.end

#latch: physical registers to reservation station
-module.ID					core:ROB2RS
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			80 # floating-point data width
-module.scaling					12 # 2*issue width
-module.end

#reservation station
-module.ID					core:RS
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				27 # micro-op (118bit) + 2*operand tag + 2*floating-point data
-module.tag_width				12 # ROB tag (7-bit) + overhead
-module.sets					36
-module.rd_ports				6 # exec width
-module.wr_ports				4 # issue width
-module.end

#instruction issue selection logic
-module.ID					core:issue_select
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				selection_logic
-module.selection_input				36 # RS entries
-module.selection_output			6 # exec width
-module.end

#latch: payload RAM
-module.ID					core:payload
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			204 # micro-op(118bit) + 2*floating-point data + output tag
-module.scaling					6 # exec width
-module.end

#execution port0 FU
-module.ID					core:port0:FU
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				functional_unit
-module.energy_submodel				fpu
-module.end

#execution port1 FU
-module.ID					core:port1:FU
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				functional_unit
-module.energy_submodel				alu
-module.end

#execution port2 FU
-module.ID					core:port2:FU
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				functional_unit
-module.energy_submodel				alu
-module.end

#execution port3 FU
-module.ID					core:port3:FU
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				functional_unit
-module.energy_submodel				alu
-module.end

#execution port4 FU
-module.ID					core:port4:FU
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				functional_unit
-module.energy_submodel				alu
-module.end

#execution port5 FU
-module.ID					core:port5:FU
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				functional_unit
-module.energy_submodel				alu
-module.end

#latch: functional unit to ROB
-module.ID					core:FU2ROB
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			87 # floating-point data + output tag
-module.scaling					6 # exec width
-module.end

#reorder buffer
-module.ID					core:ROB
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				ram
-module.line_width				15 # virtual address(32bit) + floating-point data(80bit) + tag overhead
-module.sets					128
-module.rd_ports				10 # issue width + commit width
-module.wr_ports				6 # exec width
-module.search_ports				2
-module.access_mode				sequential
-module.end

#instruction commit selection logic
-module.ID					core:commit_select
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				selection_logic
-module.selection_input				128 # ROB entries
-module.selection_output			4 # commit width
-module.end

#latch: ROB to commit
-module.ID					core:ROB2CM
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			86 # floating-point data + output tag
-module.scaling					4 # commit width
-module.end

#load queue
-module.ID					core:loadQ
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				4 # 32-bit data
-module.assoc					0 # fully associative
-module.tag_width				37 # virtual address width (32bit) + overhead
-module.sets					48
-module.rd_ports				2
-module.wr_ports				2
-module.search_ports				2
-module.access_mode				sequential
-module.area_scaling				1.1
-module.energy_scaling				1.1
-module.end

#latch: load queue to ROB
-module.ID					core:LQ2ROB
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			71 # data(32bit) + virtual address(32-bit) + data tag(7bit)
-module.end

#latch: load queue to DL1
-module.ID					core:LQ2L1
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			64 # data(32bit) + virtual address(32-bit)
-module.end

#latch: DL1 to load queue
-module.ID					core:L12LQ
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			64 # data(32bit) + virtual address(32-bit)
-module.end

#store queue
-module.ID					core:storeQ
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				4 # 32-bit data
-module.assoc					0 # fully associative
-module.tag_width				37 # virtual address width (32bit) + overhead
-module.sets					32
-module.rd_ports				1
-module.wr_ports				1
-module.search_ports				1
-module.access_mode				sequential
-module.area_scaling				1.1
-module.energy_scaling				1.1
-module.end

#latch: store queue to DL1
-module.ID					core:SQ2L1
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			64 # data(32bit) + virtual address(32-bit)
-module.end

#latch: store queue to load queue
-module.ID					core:SQ2LQ
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				pipeline
-module.pipeline_stages				1
-module.per_stage_vector			64 # data(32bit) + virtual address(32-bit)
-module.end

#data TLB
-module.ID					core:DTLB
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				4 # virtual address (32bit)
-module.assoc					4
-module.sets					64
-module.tag_width				37 # line width + overhead
-module.rw_ports				2
-module.access_time				2
-module.cycle_time				2
-module.end

#data TLB2
-module.ID					core:DTLB2
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				4 # virtual address (32bit)
-module.assoc					4
-module.sets					256
-module.tag_width				37 # line width + overhead
-module.rw_ports				1
-module.access_time				2
-module.cycle_time				2
-module.end

#data cache
-module.ID					core:DL1
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				64
-module.assoc					4
-module.sets					128
-module.tag_width				37 # 32-bit virtual address + overhead
-module.rw_ports				2
-module.access_time				2
-module.cycle_time				2
-module.end

#data cache missbuffer
-module.ID					core:DL1:missbuffer
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				64
-module.assoc					0
-module.sets					8
-module.tag_width				37 # 32-bit virtual address + overhead
-module.rw_ports				1
-module.search_ports				1
-module.end

#data cache prefetch buffer
-module.ID					core:DL1:prefetch
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				64
-module.assoc					0
-module.sets					8
-module.tag_width				37 # 32-bit virtual address + overhead
-module.rw_ports				1
-module.search_ports				1
-module.end

#data cache linefill buffer
-module.ID					core:DL1:linefill
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				64
-module.assoc					0
-module.sets					8
-module.tag_width				37 # 32-bit virtual address + overhead
-module.rw_ports				1
-module.search_ports				1
-module.end

#data cache writeback buffer
-module.ID					core:DL1:writeback
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				64
-module.assoc					0
-module.sets					8
-module.tag_width				37 # 32-bit virtual address + overhead
-module.rw_ports				1
-module.search_ports				1
-module.end

#data cache
-module.ID					core:DL2
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				64
-module.assoc					8
-module.sets					128
-module.tag_width				37 # 32-bit virtual address + overhead
-module.banks					4
-module.rw_ports				2
-module.access_time				8
-module.cycle_time				3
-module.end

#data cache missbuffer
-module.ID					core:DL2:missbuffer
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				64
-module.assoc					0
-module.sets					8
-module.tag_width				37 # 32-bit virtual address + overhead
-module.rw_ports				1
-module.search_ports				1
-module.end

#data cache prefetch buffer
-module.ID					core:DL2:prefetch
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				64
-module.assoc					0
-module.sets					8
-module.tag_width				37 # 32-bit virtual address + overhead
-module.rw_ports				1
-module.search_ports				1
-module.end

#data cache linefill buffer
-module.ID					core:DL2:linefill
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				64
-module.assoc					0
-module.sets					8
-module.tag_width				37 # 32-bit virtual address + overhead
-module.rw_ports				1
-module.search_ports				1
-module.end

#data cache writeback buffer
-module.ID					core:DL2:writeback
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				64
-module.assoc					0
-module.sets					8
-module.tag_width				37 # 32-bit virtual address + overhead
-module.rw_ports				1
-module.search_ports				1
-module.end

#bypass interconnect
-module.ID					core:exec_bypass
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				interconnect
-module.data					86 # data(80bit) + tag(6bit)
-module.connect					core:RS
-module.connect					core:payload
-module.connect					core:loadQ
-module.connect					core:storeQ
-module.connect					core:ROB
-module.connect					core:port0:FU
-module.connect					core:port1:FU
-module.connect					core:port2:FU
-module.connect					core:port3:FU
-module.connect					core:port4:FU
-module.connect					core:port5:FU
-module.end

#bypass interconnect
-module.ID					core:load_bypass
-module.technology				nehalem
-module.energy_library				McPAT
-module.energy_model				interconnect
-module.data					36 # data(32bit) + tag(6bit)
-module.connect					core:RS
-module.connect					core:loadQ
-module.connect					core:storeQ
-module.connect					core:port0:FU
-module.connect					core:port1:FU
-module.connect					core:port2:FU
-module.connect					core:port3:FU
-module.connect					core:port4:FU
-module.connect					core:port5:FU
-module.connect					core:ROB
-module.end
