# test.config: it does not represent any system but shows how to use the EI interface.

# technology parameters (design parameters) of McPAT
-technology.ID                         test_tech
-technology.clock_frequency            3.5e9 # 4GHz
-technology.feature_size               65e-9 # 65nm
-technology.component_type             core
-technology.core_type	                 inorder
-technology.wire_type	                 global
-technology.device_type                hp
-technology.interconnect_projection    aggressive
-technology.wiring_type                global
-technology.opt_local	                 false
-technology.embeded	                   false
-technology.longer_channel_device      false
-technology.end

# pseudo package
-package.ID                            test_package
-package.technology	                   test_tech
-package.thermal_library               HotSpot
-package.ambient_temperature           315 # initial temperature
-package.interface_temperature         315
-package.spreader_temperature          315
-package.heatsink_temperature          315
-package.model	                        block
-package.grid_rows                     16
-package.grid_columns                  16
-package.partition                     test_partition1
-package.partition                     test_partition2
-package.end

#pseudo partition 1
-partition.ID                          test_partition1
-partition.x_left	                     0.0
-partition.y_bottom                    0.0
-partition.width	                      5e-3
-partition.length	                     10e-3
-partition.layer	                      0
-partition.temperature	                315
-partition.module                      test_module1
-partition.module                      test_module2
-partition.end

#pseudo partition 1
-partition.ID                          test_partition2
-partition.x_left	                     5e-3
-partition.y_bottom                    0.0
-partition.width	                      5e-3
-partition.length	                     10e-3
-partition.layer	                      0
-partition.temperature	                315
-partition.module                      test_module3
-partition.module                      test_module4
-partition.end

#pseudo module 1 - cache
-module.ID                             test_module1
-module.technology                     test_tech
-module.energy_library                 McPAT
-module.energy_model				array
-module.energy_submodel				cache
-module.line_width				64
-module.assoc					8
-module.sets					64
-module.bank 32
-module.tag_width				37
-module.rd_ports				1
-module.wr_ports				1
-module.access_time				2
-module.cycle_time				1
-module.end


#pseudo module 2 - instruction decoder
-module.ID                             test_module2
-module.technology                     test_tech
-module.energy_library                 McPAT
-module.energy_model                   instruction_decoder
-module.x86                            false
-module.opcode                         16
-module.scaling                        4 # 4 decoders
-module.end

#pseudo module 3 - functional unit
-module.ID                             test_module3
-module.technology                     test_tech
-module.energy_library                 McPAT
-module.energy_model                   functional_unit
-module.energy_submodel                alu
-module.scaling                        5 # 5 ALUs
-module.end

#pseudo module 4 - interconnect
-module.ID                             test_module4
-module.technology                     test_tech
-module.energy_library                 McPAT
-module.energy_model                   interconnect
-module.data                           64
-module.connect                        test_module1
-module.connect                        test_module2
-module.connect                        test_module3
-module.end
