# technology parameters (design parameters) of McPAT
-technology.ID                         	Xeon
-technology.clock_frequency            	3.4e9 # 4GHz
-technology.feature_size               	65e-9 # 65nm
-technology.longer_channel_device		true
-technology.component_type             	core
-technology.core_type	                ooo
-technology.wire_type	                global
-technology.device_type                	hp
-technology.interconnect_projection    	aggressive
-technology.wiring_type                	global
-technology.opt_local	               	false
-technology.embedded	                   	false
-technology.end

# technology parameters (design parameters) of McPAT
-technology.ID                         	L3
-technology.clock_frequency            	0.85e9 # 850MHz
-technology.feature_size               	65e-9 # 65nm
-technology.longer_channel_device		true
-technology.component_type             	llc
-technology.wire_type	                global
-technology.device_type                	hp
-technology.interconnect_projection    	aggressive
-technology.wiring_type                	global
-technology.embedded	                   	false
-technology.end

# technology parameters (design parameters) of McPAT
-technology.ID                         	NOC
-technology.clock_frequency            	3.4e9 # 3.4GHz
-technology.feature_size               	65e-9 # 65nm
-technology.longer_channel_device		true
-technology.component_type             	uncore
-technology.wire_type	                global
-technology.device_type                	hp
-technology.interconnect_projection    	aggressive
-technology.wiring_type                	global
-technology.embedded	                   	false
-technology.end

-module.ID							icache
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				cache # is_cache = true
-module.temperature					380
-module.size						131072 # sets = 512
-module.tag_width					43 # phy_addr(52-bit) + extra_tags(5-bit) - log2(line_width) - log2(sets)
-module.line_width					32
-module.assoc						8
-module.cycle_time					8
-module.access_time					3
-module.rw_ports					1
-module.end

-module.ID							icacheMissBuffer
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				cache # is_cache = true
-module.temperature					380
-module.size						640 # sets = 16
-module.tag_width					57 # phy_addr(52-bit) + extra_tags (5-bit)
-module.line_width					40 # ceil((phy_addr(52-bit) + ceil(log2(icache.size/icache.line_width)) + icache.line_width*8)/8)
-module.assoc						0
-module.cycle_time					8
-module.access_time					3
-module.rw_ports					1
-module.search_ports				1 # fully associative cache
-module.end

-module.ID							icacheFillBuffer
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				cache # is_cache = true
-module.temperature					380
-module.size						512 # sets = 16
-module.tag_width					57 # phy_addr(52-bit) + extra_tags (5-bit)
-module.line_width					32 # icache.line_width
-module.assoc						0
-module.cycle_time					8
-module.access_time					3
-module.rw_ports					1
-module.search_ports				1 # fully associative cache
-module.end

-module.ID							icachePrefetchBuffer
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				cache # is_cache = true
-module.temperature					380
-module.size						512 # sets = 16
-module.tag_width					57 # phy_addr(52-bit) + extra_tags (5-bit)
-module.line_width					32 # icache line_width
-module.assoc						0
-module.cycle_time					8
-module.access_time					3
-module.rw_ports					1
-module.search_ports				1 # fully associative cache
-module.end

-module.ID							instBuffer
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				ram # is_ram = true
-module.temperature					380
-module.size						1536 # sets = 32 = 16/thread * 2 threads
-module.line_width					24 # inst_length(32-bit)*issue_width(6)/8
-module.rw_ports					1
-module.search_ports				1 # fully associative cache
-module.end

-module.ID							branchTargetBuffer
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				cache # is_cache = true
-module.temperature					380
-module.size						5120 # sets = 640
-module.tag_width					70 # vaddr_width(64-bit) + log2(hw_threads) + extra_tags (5-bit)
-module.line_width					4
-module.assoc						2
-module.rw_ports					1
-module.rd_ports					1
-module.wr_ports					1
-module.cycle_time					1
-module.access_time					3
-module.end

-module.ID							ID_inst
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				instruction_decoder
-module.temperature					380
-module.x86							true
-module.opcode						16
-module.area_scaling				4
-module.end

-module.ID							ID_operand
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				instruction_decoder
-module.temperature					380
-module.x86							true
-module.opcode						4 # log2(arch_iregs)
-module.area_scaling				4
-module.end

-module.ID							ID_misc
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				instruction_decoder
-module.temperature					380
-module.x86							true
-module.opcode						8 # fixed in McPAT
-module.area_scaling				4
-module.end

-module.ID							globalPredictor
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				cache # is_cache = true
-module.temperature					380
-module.size						4096 # sets = 4096
-module.tag_width					6 # log2(hw_threads) + extra_tags(5-bit)
-module.line_width					1 # ceil(2-bit saturation counter/8)
-module.rd_ports					1
-module.wr_ports					1
-module.access_mode					fast
-module.end

-module.ID							L1_localPredictor
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				cache # is_cache = true
-module.temperature					380
-module.size						2048 # sets = 1024
-module.tag_width					6 # log2(hw_threads) + extra_tags(5-bit)
-module.line_width					2 # ceil(10-bit history/8)
-module.rd_ports					1
-module.wr_ports					1
-module.access_mode					fast
-module.end

-module.ID							L2_localPredictor
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				cache # is_cache = true
-module.temperature					380
-module.size						1024 # sets = 1024
-module.tag_width					6 # log2(hw_threads) + extra_tags(5-bit)
-module.line_width					1 # ceil(3-bit saturation counter/8)
-module.rd_ports					1
-module.wr_ports					1
-module.access_mode					fast
-module.end

-module.ID							chooser
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				cache # is_cache = true
-module.temperature					380
-module.size						4096 # sets = 4096
-module.tag_width					6 # log2(hw_threads) + extra_tags(5-bit)
-module.line_width					1 # ceil(3-bit saturation counter/8)
-module.rd_ports					1
-module.wr_ports					1
-module.access_mode					fast
-module.end

-module.ID							RAS
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				ram # is_ram = true
-module.temperature					380
-module.size						512 # sets = 64
-module.line_width					8 # pc_width/8
-module.rd_ports					1
-module.wr_ports					1
-module.access_mode					fast
-module.scaling						2 # hw_threads
-module.end

-module.ID							instIssueQueue
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				cache # is_cache = true
-module.temperature					380
-module.size						128 # sets = 64
-module.assoc						0
-module.tag_width					8 # log2(phy_iregs)
# McPAT ERROR? line_width should take ceil not floor
-module.line_width					2 # floor(((inst_width(32-bit) +2*log2(log2(phy_iregs)-log2(arch_iregs)))/2)/8)
-module.rd_ports					6 # peak_issue_width
-module.wr_ports					6
-module.search_ports				6
-module.cycle_time					2
-module.access_time					2
-module.access_mode					fast
-module.end

-module.ID							fpIssueQueue
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				cache # is_cache = true
-module.temperature					380
-module.size						320 # sets = 64
-module.assoc						0
-module.tag_width					16 # 2*log2(phy_fregs)
-module.line_width					5 # ceil((inst_width(32-bit) +2*log2(log2(phy_fregs)-log2(arch_fregs)))/8)
-module.rd_ports					2 # fp_issue_width
-module.wr_ports					2
-module.search_ports				2
-module.cycle_time					1
-module.access_time					1
-module.access_mode					fast
-module.end

-module.ID							ROB
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				ram # is_ram = true
-module.temperature					380
-module.size						1280 # sets = 128
-module.line_width					10 # ceil((pc_width(64-bit)+extra_tags(5-bit)+log2(hw_threads))/8)
-module.rd_ports					6 # peak_issue_width
# McPAT ERROR? Xeon peak_commit_width is 4 not 6
-module.wr_ports					6 # peak_commit_width
-module.access_mode					sequential
-module.end

-module.ID							instSelection
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				selection_logic
-module.temperature					380
-module.selection_input				64 # instIssueQueue size
-module.selection_output			6 # peak_issue_width
-module.end

-module.ID							dcache
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				cache # is_cache = true
-module.temperature					380
-module.size						16384 # sets = 256
-module.tag_width					45 # phy_addr(52-bit) + extra_tags(5-bit) - log2(line_width) - log2(sets)
-module.line_width					16
-module.assoc						4
-module.cycle_time					3
-module.access_time					3
-module.rw_ports					2 # dual port
-module.end

-module.ID							dcacheMissBuffer
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				cache # is_cache = true
-module.temperature					380
-module.size						384 # sets = 16
-module.tag_width					57 # phy_addr(52-bit) + extra_tags (5-bit)
-module.line_width					24 # ceil((phy_addr(52-bit)+ ceil(log2(size/dcache.line_width))+dcache.line_width*8)/8.0)
-module.assoc						0
-module.cycle_time					3
-module.access_time					3
-module.access_mode					fast
-module.rw_ports					2
-module.search_ports				2 # fully associative cache
-module.end

-module.ID							dcacheFillBuffer
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				cache # is_cache = true
-module.temperature					380
-module.size						256 # sets = 16
-module.tag_width					57 # phy_addr(52-bit) + extra_tags (5-bit)
-module.line_width					16 # dcache.line_width
-module.assoc						0
-module.cycle_time					3
-module.access_time					3
-module.access_mode					fast
-module.rw_ports					2
-module.search_ports				2 # fully associative cache
-module.end

-module.ID							dcachePrefetchBuffer
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				cache # is_cache = true
-module.temperature					380
-module.size						256 # sets = 16
-module.tag_width					57 # phy_addr(52-bit) + extra_tags (5-bit)
-module.line_width					16 # dcache.line_width
-module.assoc						0
-module.cycle_time					3
-module.access_time					3
-module.access_mode					fast
-module.rw_ports					2
-module.search_ports				2 # fully associative cache
-module.end

-module.ID							dcacheWritebackBuffer
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				cache # is_cache = true
-module.temperature					380
-module.size						256 # sets = 16
-module.tag_width					57 # phy_addr(52-bit) + extra_tags (5-bit)
-module.line_width					16 # dcache.line_width
-module.assoc						0
-module.cycle_time					3
-module.access_time					3
-module.access_mode					fast
-module.rw_ports					2
-module.search_ports				2 # fully associative cache
-module.end

-module.ID							storeQueue
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				cache # is_cache = true
-module.temperature					380
# McPAT ERROR? Xeon store queue has 48 entries per thread not 96
-module.size						1536 # sets = 96*hw_treads
-module.tag_width					86 # opcode(16-bit) + virt_addr(64-bit) + log2(hw_threads) + extra_tags(5-bit)
-module.line_width					8 # log2(64-bit addr)
-module.assoc						0
-module.rd_ports					2
-module.wr_ports					2
-module.search_ports				2 # fully associative cache
-module.access_mode					sequential
#module.area_scaling				1.1 # cdb_overhead
-module.end

-module.ID							loadQueue
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				cache # is_cache = true
-module.temperature					380
# McPAT ERROR? Xeon load queue queue has 96 entries per thread not 48
-module.size						768 # sets = 48*hw_treads
-module.tag_width					86 # opcode(16-bit) + virt_addr(64-bit) + log2(hw_threads) + extra_tags(5-bit)
-module.line_width					8 # log2(64-bit addr)
-module.assoc						0
-module.rd_ports					2
-module.wr_ports					2
-module.search_ports				2 # fully associative cache
-module.access_mode					sequential
#module.area_scaling				1.1 # cdb_overhead
-module.end

-module.ID							ITLB
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				cache # is_cache = true
-module.temperature					380
-module.size						640 # sets = 128
-module.tag_width					58 # virt_addr(64-bit) - log2(page_size) + log2(hw_treads) + extra_tags(5-bit)
-module.line_width					5 # (phy_addr(52-bit) - log2(page_size))/8
-module.assoc						0
-module.wr_ports					1
-module.search_ports				1 # fully associative cache
-module.cycle_time					8
-module.access_time					3
-module.end

-module.ID							DTLB
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				cache # is_cache = true
-module.temperature					380
-module.size						640 # sets = 128
-module.tag_width					58 # virt_addr(64-bit) - log2(page_size) + log2(hw_treads) + extra_tags(5-bit)
-module.line_width					5 # (phy_addr(52-bit) - log2(page_size))/8
-module.assoc						0
-module.wr_ports					2
-module.search_ports				2 # fully associative cache
-module.cycle_time					3
-module.access_time					3
-module.end

-module.ID							IRF
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				ram # is_ram = true
-module.temperature					380
-module.size						2048 # sets = 256
-module.line_width					8 # int_data_width/8
-module.rw_ports					1
-module.rd_ports					12 # 2*peak_issue_width
-module.wr_ports					6 # peak_issue_width
-module.access_mode					sequential
-module.scaling						2 # hw_treads
-module.area_scaling				1.1 # cdb_overhead
-module.end

-module.ID							FRF
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				ram # is_ram = true
-module.temperature					380
-module.size						2048 # sets = 256
-module.line_width					8 # int_data_width/8
-module.rw_ports					1
-module.rd_ports					8 # 2*issue_width
-module.wr_ports					4 # issue_width
-module.access_mode					sequential
-module.scaling						2 # hw_treads
-module.area_scaling				1.1 # cdb_overhead
-module.end

-module.ID							ALU
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				functional_unit
-module.energy_submodel				alu
-module.temperature					380
-module.scaling						6
-module.end

-module.ID							FPU
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				functional_unit
-module.energy_submodel				fpu
-module.temperature					380
-module.scaling						2
-module.end

-module.ID							MUL
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				functional_unit
-module.energy_submodel				mul
-module.temperature					380
-module.scaling						1
-module.end

# interconnect wire modeling is ugly - it needs cross-references between modules
-module.ID							aluBypass
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				interconnect
-module.temperature					380
-module.data						64 # int_data_width
-module.wire_length					6688.11e-6 # 6.688mm
-module.scaling						2 # scale leakage
-module.area_scaling				0.5
-module.end

-module.ID							aluTagBypass
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				interconnect
-module.temperature					380
-module.data						8 # log2(phy_iregs)
-module.wire_length					8001.14e-6
-module.scaling						2
-module.area_scaling				0.5
-module.end

-module.ID							mulBypass
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				interconnect
-module.temperature					380
-module.data						64 # int_data_width
-module.wire_length					7294.82e-6
-module.scaling						2
-module.area_scaling				0.5
-module.end

-module.ID							mulTagBypass
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				interconnect
-module.temperature					380
-module.data						8 # log2(phy_iregs)
-module.wire_length					8607.85e-6
-module.scaling						2
-module.area_scaling				0.5
-module.end

-module.ID							fpuBypass
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				interconnect
-module.temperature					380
-module.data						64 # fp_data_width
-module.wire_length					6928.71e-6
-module.scaling						3
-module.area_scaling				0.333333333
-module.end

-module.ID							fpuTagBypass
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				interconnect
-module.temperature					380
-module.data						8 # log2(phy_iregs)
-module.wire_length					9557.64e-6
-module.scaling						3
-module.area_scaling				0.333333333
-module.end

-module.ID							intFRAT
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				ram
-module.temperature					380
-module.size						528 # sets = 16
-module.line_width					33 # (log2(phy_iregs)*(1+checkpoints(32))/8)
-module.output_width				8 # specify output_width because output_width != line_width*8
-module.rw_ports					1
-module.rd_ports					8 # 2*decode_width
-module.wr_ports					4 # decode_width
-module.access_mode					fast
-module.scaling						2 # hw_threads
-module.end

-module.ID							fpFRAT
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				ram
-module.temperature					380
-module.size						1056 # sets = 32
-module.line_width					33 # (log2(phy_iregs)*(1+checkpoints(32)))/8
-module.output_width				8 # specify output_width because output_width != line_width*8
-module.rw_ports					1
-module.rd_ports					4 # 2*fp_decode_width
-module.wr_ports					2 # fp_decode_width
-module.access_mode					fast
-module.scaling						2 # hw_threads
-module.end

-module.ID							intRRAT
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				ram
-module.temperature					380
-module.size						16 # sets = 16
-module.line_width					1 # (log2(phy_iregs))/8
-module.rd_ports					4 # commit_width
-module.wr_ports					4 # commit_width
-module.access_mode					sequential
-module.scaling						2 # hw_threads
-module.end

-module.ID							fpRRAT
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				ram
-module.temperature					380
-module.size						32 # sets = 16
-module.line_width					1 # (log2(phy_iregs))/8
-module.rd_ports					2 # fp_decode_width
-module.wr_ports					2 # fp_decode_width
-module.access_mode					sequential
-module.scaling						2 # hw_threads
-module.end

-module.ID							intFreelist
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				ram
-module.temperature					380
-module.size						256 # sets = 256
-module.line_width					1 # (log2(phy_iregs))/8
-module.rw_ports					1
-module.rd_ports					4 # decode_width
-module.wr_ports					7 # decode_width-1+commit_width
-module.access_mode					sequential
-module.scaling						2 # hw_threads
-module.end

-module.ID							fpFreelist
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				ram
-module.temperature					380
-module.size						256 # sets = 256
-module.line_width					1 # (log2(phy_iregs))/8
-module.rw_ports					1
-module.rd_ports					2 # fp_decode_width
-module.wr_ports					5 # fp_decode_width-1+commit_width
-module.access_mode					sequential
-module.scaling						2 # hw_threads
-module.end

-module.ID							intDepCheck
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				dependency_check_logic
-module.temperature					380
-module.compare_bits				8
-module.decode_width				4
-module.end

-module.ID							fpDepCheck
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				dependency_check_logic
-module.temperature					380
-module.compare_bits				8
-module.decode_width				4
-module.end

-module.ID							Undiffcore
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				undifferentiated_core
-module.temperature					380
-module.pipeline_stages				31
-module.hthreads					2
-module.end

-module.ID							Pipeline
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				pipeline
-module.temperature					380
-module.x86							true
-module.microopcode					8
-module.pc							64
-module.fetch_width					4
-module.decode_width				4
-module.issue_width					4
-module.instruction_length			32
-module.int_data_width				64
-module.hthreads					2
-module.thread_states				8
-module.phy_int_regs				256
-module.virtual_address				64
-module.commit_width				4
-module.pipeline_stages				31
-module.end

-module.ID							L2cache
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				cache # is_cache = true
-module.temperature					380
-module.size						1048576 # sets = 4096
-module.tag_width					40 # phy_addr(52-bit) + extra_tags(5-bit) - log2(line_width) - log2(sets)
-module.line_width					32
-module.output_width				128 # line_width/2 in bits
-module.assoc						8
-module.banks 						8
-module.cycle_time					8
-module.access_time					23
-module.access_mode					sequential
-module.rw_ports					1
-module.end

-module.ID							L2cacheMissBuffer
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				cache # is_cache = true
-module.temperature					380
-module.size						208 # sets = 16
-module.tag_width					57 # phy_addr(52-bit) + extra_tags (5-bit)
-module.line_width					13 # ceil((phy_addr(52-bit)+ ceil(log2(size/L2cache.line_width))+L2cache.line_width?)/8.0)
-module.output_width				52 # line_width/2
-module.assoc						0
-module.cycle_time					8
-module.access_time					23
-module.rw_ports					1
-module.search_ports				1 # fully associative cache
-module.end

-module.ID							L2cacheFillBuffer
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				cache # is_cache = true
-module.temperature					380
-module.size						512 # sets = 16
-module.tag_width					57 # phy_addr(52-bit) + extra_tags (5-bit)
-module.line_width					32 # L2cache.line_width
-module.output_width				128 # line_width/2
-module.assoc						0
-module.cycle_time					8
-module.access_time					23
-module.rw_ports					1
-module.search_ports				1 # fully associative cache
-module.end

-module.ID							L2cachePrefetchBuffer
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				cache # is_cache = true
-module.temperature					380
-module.size						512 # sets = 16
-module.tag_width					57 # phy_addr(52-bit) + extra_tags (5-bit)
-module.line_width					32 # L2cache.line_width
-module.output_width				128 # line_width/2
-module.assoc						0
-module.cycle_time					8
-module.access_time					23
-module.rw_ports					1
-module.search_ports				1 # fully associative cache
-module.end

-module.ID							L2cacheWritebackBuffer
-module.technology                  Xeon
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				cache # is_cache = true
-module.temperature					380
-module.size						512 # sets = 16
-module.tag_width					57 # phy_addr(52-bit) + extra_tags (5-bit)
-module.line_width					32 # L2cache.line_width
-module.output_width				128 # line_width/2
-module.assoc						0
-module.cycle_time					8
-module.access_time					23
-module.rw_ports					1
-module.search_ports				1 # fully associative cache
-module.end

-module.ID							L3cache
-module.technology                  L3
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				cache # is_cache = true
-module.temperature					380
-module.size						16777216 # sets = 16384
-module.tag_width					37 # phy_addr(52-bit) + extra_tags(5-bit) - log2(line_width) - log2(sets)
-module.line_width					64
-module.output_width				256 # line_width/2 in bits
-module.assoc						16
-module.banks 						16
-module.cycle_time					16
-module.access_time					100
-module.access_mode					sequential
-module.rw_ports					1
-module.end

-module.ID							L3cacheMissBuffer
-module.technology                  L3
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				cache # is_cache = true
-module.temperature					380
-module.size						272 # sets = 16
-module.tag_width					57 # phy_addr(52-bit) + extra_tags (5-bit)
-module.line_width					17 # ceil((phy_addr(52-bit)+ ceil(log2(size/L3cache.line_width))+L3cache.line_width?)/8.0)
-module.output_width				68 # line_width/2
-module.assoc						0
-module.cycle_time					8
-module.access_time					23
-module.rw_ports					1
-module.search_ports				1 # fully associative cache
-module.end

-module.ID							L3cacheFillBuffer
-module.technology                  L3
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				cache # is_cache = true
-module.temperature					380
-module.size						1024 # sets = 16
-module.tag_width					57 # phy_addr(52-bit) + extra_tags (5-bit)
-module.line_width					64 # L3cache.line_width
-module.output_width				256 # line_width/2
-module.assoc						0
-module.cycle_time					8
-module.access_time					23
-module.rw_ports					1
-module.search_ports				1 # fully associative cache
-module.end

-module.ID							L3cachePrefetchBuffer
-module.technology                  L3
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				cache # is_cache = true
-module.temperature					380
-module.size						1024 # sets = 16
-module.tag_width					57 # phy_addr(52-bit) + extra_tags (5-bit)
-module.line_width					64 # L3cache.line_width
-module.output_width				256 # line_width/2
-module.assoc						0
-module.cycle_time					8
-module.access_time					23
-module.rw_ports					1
-module.search_ports				1 # fully associative cache
-module.end

-module.ID							L3cacheWritebackBuffer
-module.technology                  L3
-module.energy_library              McPAT
-module.energy_model				array
-module.energy_submodel				cache # is_cache = true
-module.temperature					380
-module.size						1024 # sets = 16
-module.tag_width					57 # phy_addr(52-bit) + extra_tags (5-bit)
-module.line_width					64 # L3cache.line_width
-module.output_width				256 # line_width/2
-module.assoc						0
-module.cycle_time					8
-module.access_time					23
-module.rw_ports					1
-module.search_ports				1 # fully associative cache
-module.end

-module.ID							network
-module.technology					NOC
-module.energy_library				McPAT
-module.energy_model				network
-module.energy_submodel				bus
-module.temperature					380
-module.flit_bits					256
-module.duty_cycle					1
-module.link_throughput				1
-module.link_latency				1
-module.chip_area					415.758e-6 # 415mm^2
-module.chip_coverage				1
-module.route_over_percentage		0.5
-module.end
